/* this is the main css of my blog */
body,div,li,ul,p,h1,h2,h3,h4,h5,h6,table,ol
{
	margin:0px;
	padding:0px;
}
html,body
{
	width:100%;
	height: 100%;
	font-size: 16px;
}
body {
	background: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
header
{
	font-family: "Sans-serif";
	background-color: rgba(0,0,0,0.1);
	color:white;
	width: 100%;
	padding:0 45px;
	height:70px;
	line-height:45px;
	position: fixed;
	z-index: 1;
}
header h1
{
	display: inline-block;
}

.asideIcon
{
	display: inline-block;
	float: right;
	position:relative;
	right:45px;
	height:45px;
	line-height: 45px;
	cursor:pointer;
	width:45px;
	margin-left:45px;
}
.img-cloud {
	background-image: url(../images/cloud.png);
	width: 100px;
	height: 100px;
	background-size: 100px;
	background-repeat: no-repeat;
}
header .img-cloud{
	float: left;
	background-position: center center;
}
nav
{
	list-style-type:none;
	color: #fff;
	font-family: 'Times new Roman', 'Sans-serif'; 
	padding:0 45px;
	float: right;
}
nav li
{
	display: inline-block;
	color:white;
	box-sizing:content-box;
	margin: 10px;
	margin-right: 20px;

}
nav li:hover
{
	cursor:pointer;
	display: inline-block;
	border-bottom: 2px solid #fff;
}
aside
{
	background: #272822;
	width:15%;
	position:fixed;
	right:0px;
	display: none;
	height:100%;
	padding:45px;
}
#userImage
{
	width:40%;
	margin: 0 auto;
	margin-top:40px;
}
#userImage img
{
	width:100%;
	border-radius: 50%;
	overflow:hidden;
}
#userName 
{
	width:103px;
	margin:0 auto;
	margin-top:20px;
}
#userName h3
{
	font-family: "幼圆","YouYuan","宋体";
	font-size: 1.5em;
	color:white;

}
#icon-addr {
	width:25px;
	text-align: center;
	margin: 20px auto;
}
.icon-github {
	color: white;
}
.icon-envelope {
	color: white;
}
article
{
	margin-left:45px;
	padding-top:50px;
}
article h2
{
	font-family: "Times new Roman","Sans-serif";
}
hr
{
	height:1px;
	border:none;
	border-top:1px solid #778899;
	margin-top:-6px;
	width:50%;
	float: left;
}
article a
{
	text-decoration: none;
	color:black;
}
.header
{
	height:30px;
	width:100%;
	line-height:30px;
	background: rgba(201,201,201, 0.3);
}
.title
{
	margin-left:40px;
}
.main
{
	width: 100vw;
	box-sizing: border-box;
	/*background-image: url(../images/main-bg.png);*/
	background-size: cover;
	
}

.main .img-cloud{
	position: absolute;

}
.about{
	height: 900px;
	border: 1px solid #000;
}
.title {
	color: #fff;
	font-family: 'Micrsoft YaHei';
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 100px;
}
.side
{
	width: 45px;
	height:100%;
	background: #272822;
	color:white;
	float:left;
}
.butt {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
	font-family: "Times new Roman","Sans-serif";
	line-height: 50px;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
}
.butt:hover {
	cursor: pointer;
	box-shadow: 0px 1px 3px #000;
}