/* this is the main css of my blog */
body,div,li,ul,p,h1,h2,h3,h4,h5,h6,table,ol
{
	margin:0px;
	padding:0px;
}
html,body
{
	width:100%;
	height: 100%;
<<<<<<< HEAD
	font-size: 16px;
}
header
{
	background: #272822;
	font-family: "Sans-serif";
	color:white;
	padding:0 45px;
	height:45px;
	line-height:45px;

}
header h1
{
	display: inline-block;
}
.asideIcon
{
	display: inline-block;
	float:right;
	height:45px;
	line-height: 45px;
}
.asideIcon:hover
{
	cursor:pointer;
}
nav
{
	list-style-type:none;
	color:black;
	font-family: 'Times new Roman', 'Sans-serif'; 
	padding:0 45px;
	float: right;
}
nav li
{
	display: inline-block;
	color:white;
	padding-right:20px;
	box-sizing:content-box;

}
nav li:hover
{
	font-size: 1.5em;
	cursor:pointer;
	display: inline-block;
	transition: font-size .5s linear;
}
aside
{
	background: #272822;
	width:20%;
	position:fixed;
	right:0px;
	display: none;
}
#userImage
{
	width:40%;
	margin: 0 auto;
	margin-top:40px;
}
#userImage img
{
	width:100%;
	border-radius: 50%;
	overflow:hidden;
}
#userName 
{
	width:103px;
	margin:0 auto;
	margin-top:20px;
}
#userName h3
{
	font-family: "幼圆","YouYuan","宋体";
	font-size: 1.5em;
	color:white;
}
.main
{

	background: white;
	margin:0 auto;

}
article
{
	margin-left:45px;
	padding-top:50px;
}
article h2
{
	font-family: "Times new Roman","Sans-serif";
}
hr
{
	height:1px;
	border:none;
	border-top:1px solid #778899;
	margin-top:-6px;
	width:50%;
	float: left;
}
article a
{
	text-decoration: none;
	color:black;
=======
}
.header
{
	height:30px;
	width:100%;
	line-height:30px;
	background: rgba(201,201,201, 0.3);
}
.title
{
	margin-left:40px;
}
.main
{
	height:100%;
}
.side
{
	width: 45px;
	height:100%;
	background: #272822;
	color:white;
	float:left;
}
#logo
{
	width:20px;
	margin:10px auto;
}
#logo:hover
{
	cursor: pointer;
}
#menu
{
	width:20px;
	margin:10px auto;
	text-decoration: none;
	list-style-type: none;
}
#menu li
{
	margin:20px auto;
}